<IfModule mod_rewrite.c>
	# Options +FollowSymLinks
	RewriteEngine on
	RewriteBase /
	
	# Prevent direct access to cache
	# RewriteCond %{IS_SUBREQ} !true
	# RewriteCond %{REQUEST_URI} ^ae/cache
	# RewriteRule ^(.*) /index.php?/$1 [L]
	
	
	# Add default extension (".html")
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !\.\w+$
	RewriteRule ^(.*?)$ /$1.html [L]

	# Redirect to cache directory ("/ae/cache")
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*?)\.(\w+)$ /ae/cache/$1/index.$2 [L]
	
	# RewriteCond %{REQUEST_FILENAME} !-f
	# RewriteCond %{REQUEST_FILENAME} !-d
	# RewriteRule ^(.*) index.php?/$1 [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
	# If mod_rewrite is not available, throw all non-existing 
	# paths at index.php
	ErrorDocument 404 /index.php
</IfModule>

# ============================
# = Cache assests for a year =
# ============================
<ifmodule mod_expires.c>
	<filesmatch "\.(swf|jpg|gif|png|css|js)$">
		ExpiresActive on
		ExpiresDefault "access plus 1 year"
	</filesmatch>
</ifmodule>