<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /
	
	# Append ".html", if there is no extension...
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !\.\w+$
	RewriteRule ^(.*?)$ $1.html [L]

	# ...and redirect to cache directory ("/cache")
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*?)\.(\w+)$ cache/$1/index.$2/index.$2 [L,ENV=FROM_ROOT:1]
	
	# Alternatively, redirect to index.php to skip caching altogether
	# RewriteCond %{REQUEST_FILENAME} !-f
	# RewriteRule ^(.*) index.php?/$1 [L,QSA]
</IfModule>

# ============================
# = Cache assests for a year =
# ============================
<ifmodule mod_expires.c>
	<filesmatch "\.(swf|jpg|gif|png|css|js)$">
		ExpiresActive on
		ExpiresDefault "access plus 1 year"
	</filesmatch>
</ifmodule>