<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{TIME} >20120416000000
	RewriteCond %{REQUEST_URI} index\.html$
	RewriteRule ^(.*) /index.php?/$1 [L]

	RewriteCond %{TIME} >20120414000000
	RewriteCond %{REQUEST_URI} index\.json$
	RewriteRule ^(.*) /index.php?/$1 [L]
</IfModule>
