html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-size: 100%;
	line-height: 1.5;
	color: #333;
}
body, h1 .ajax, h1 .iframe {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, sans-serif;
}
h1, a.dump, pre, code, kbd, var {
	font-family: Consolas, Lucida Console, Monaco, monospace;
}
var {
	color: #1155c6;
}

section {
/* 	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
 */}

a {
	color: inherit;
	text-decoration: none
}
a.dump {
	display: inline-block;
	margin: -3px 0;
	padding: 2px 6px;
	border-radius: 3px;
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	background: #fff;
	color: #666;
	vertical-align: middle;
}

h1 {
	padding: 12px 10px;
	font-size: 1.5em;
	line-height: 1.666666667;
}
h1 .document {
	display: none;
}
h1 .time {
	float: right;
	font-size: .5em;
	line-height: 3.333333333;
	color: #666;
}
h1 .iframe, h1 .ajax {
	display: inline-block;
	color: #fff;
	font-size: .5em;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 0 2px #000;
	text-transform: uppercase;
}
.log {
	border-bottom: 1px solid #eee;
	margin-bottom: 1.5em
}
.log > li {
	border-top: 1px solid #eee;
}
.message {
	padding: 11px 12px 12px 8px;
	border-left: 4px solid #fff;
}
.message > .source {
	display: block;
	font-size: .75em;
	line-height: 1.666666667;
	color: #444;
}
.message.notice {
	border-left-color: #aaa;
}
.message.warning {
	color: #d8950f;
	border-left-color: #d8950f;
}
.message.error, .message.exception  {
	color: #b5000e;
	border-left-color: #b5000e;
}
a.backtrace, a.context {
	float: right;
	display: inline-block;
	margin-left: 0.5em;
	padding: 4px 4px;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
	background: #fff;
	color: #666;
	font-size: 0.75em;
	line-height: 1;
}
pre, ol.backtrace, pre.context {
	display: none;
}