html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Typography */
body {
	font-size: 100%;
	line-height: 1.5;
	color: #333;
}
body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, a.dump, pre, code, kbd, var {
	font-family: Consolas, Lucida Console, Monaco, monospace;
}

/* 
	Layout
*/
body {
}

/* 
	Log
*/
section {
	padding: 1.5em 0;
}
section:last-child {
	padding-bottom: 0;
}
h1 {
	margin-bottom: 1.2em;
	padding: 0 10px;
	font-size: 1.25em;
	line-height: 1.2;
}
h1 .document {
	display: none;
}
h1 .iframe, h1 .ajax, h1 .time {
	margin-top: 0.2em;
	float: left;
	font-size: .7em;
	line-height: 1.7143;
}
h1 .iframe, h1 .ajax {
	margin-right: 0.5em
}
h1 .time {
	float: right
}
.log > li {
	margin-top: -1px;
	border-top: 1px solid #ddd;
}
.log {
	margin-bottom: -1px;
	border-bottom: 1px solid #ddd;
}

/*
	Messages
*/
.message {
	padding: 0.75em 10px;
}
.message a.backtrace, .message a.context {
	float: right;
	margin-top: 0.70em;
	margin-left: 0.5em;
	font-size: 0.75em;
	line-height: 1;
	color: #666;
}

/* 
	Source
*/
.source {
	color: #666;
	font-size: 0.75em;
	line-height: 2;
	text-decoration: none;
}
.source:hover, .source:focus {
	text-decoration: underline;
}
.message .source {
	display: block;
}
ol.backtrace .source {
	color: #999;
}

/* 
	Dumps
*/
a.dump {
	display: inline-block;
	color: inherit;
}
pre.dump {
	padding: 1em 10px;
	font-size: 0.75em;
	line-height: 2;
	background: #333;
	color: #eee;
	white-space: pre-wrap;
}
ol.backtrace pre.dump {
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 -30px;
}

/* 
	Backtrace
*/
ol.backtrace {
	overflow: hidden;
	padding: 0.75em 30px 0;
	background: #3f3f3f;
	color: #eee;
}
ol.backtrace > li {
	counter-increment: backtrace -1;
	position: relative;
}
ol.backtrace > li:before {
	content: counter(backtrace) '.';
	display: block;
	width: 20px;
	position: absolute;
	top: 0.1667em;
	left: -25px;
	font-size: 0.75em;
	line-height: 2;
	text-align: right;
}
pre.code {
	margin-bottom: 1em;
	font-size: 0.75em;
	line-height: 2;
	white-space: pre-wrap;
}


/* Temp */
pre.dump, ol.backtrace {
	display: none;
}
h1 small.time {
	display: inline;
}
pre.dump.visible, ol.backtrace.visible {
	display: block;
}